<%- partial('_partial/head') %>
<body>
	<%
	// home: make html, body 100% height
	if ( path === '' ) { %>
		<script>
		document.documentElement.style.height = '100%';
		document.body.style.height = '100%';
		</script>
	<% } %>

    <%- partial('_partial/header', null, {cache: true}) %>
    
    <div class="outer">
        
        <section id="main">

            <%- body %>

        </section>

    </div>

    <%- partial('_partial/footer', null, {cache: true}) %>

    <%- partial('_partial/after-footer') %>

</body>
</html>