	</main>

	<footer id="footer">

		<div class="section">

			<div class="full-width">
				<p><script>document.write('<a class="no-underline" href="mailto:' + 'scott.p.' + 'dona' + 'ldson@gmai' + 'l.com' + '"><span>Email</span></a>');</script><br>
				<a class="no-underline" href="https://github.com/scottdonaldson" target="_blank">GitHub</a><br>
				<a class="no-underline" href="https://twitter.com/scottpdonaldson" target="_blank">Twitter</a><br>
				<a class="no-underline" href="http://www.linkedin.com/in/scottpdonaldson" target="_blank">LinkedIn</a><br>
				<a class="no-underline" href="https://instagram.com/scottpdonaldson" target="_blank">Instagram</a></p>
				<p class="secondary">&copy; <%= config.author %> 2008 to <script>document.write(new Date().getFullYear());</script></p>
			</div>

		</div>

	</footer>

	<%- js('js/lib/imagesloaded-3.1.8.js') %>
	<%- js('js/script.js') %>
	<%- js('js/conditions.js') %>
	<%- js('js/tumblr.js') %>

	<img src="/images/18.png" class="abs b0 r0 anim-fade lazy-load" id="footer-img">

</body>
</html>
